@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: Allura;
  src: url(/assets/fonts/Allura-Regular/Allura-Regular.ttf);
}

html {
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.primary-font {
  color: #203a62;
  font-family: Allura;
}

body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  font-family: "Koulen", cursive;
}

header nav {
  padding: 10px;
}

header a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #203a62;
}

header a:hover {
  color: inherit;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

header li {
  display: inline-block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header li:hover {
  background-color: #203a62;
}

header li:hover a {
  color: #ffffff;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 180px;
}

.intro-text {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  border-bottom: 10px solid #203a62;
  border-radius: 15px;
  padding: 40px;
  font-size: 2rem;
  text-align: center;
}

.intro-text h1 {
  font-family: Allura;
  font-weight: 600;
  color: #203a62;
}

.intro-text p {
  font-size: 1rem;
  color: #424549;
  text-align: center;
  font-family: "Koulen", cursive;
}

/* CTA button */
.primary-btn {
  display: block;
  background-color: #203a62;
  border-radius: 10px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  margin: 0 auto;
  outline: none;
  padding: 10px 16px;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.primary-btn:hover {
  background-color: rgba(32, 58, 98, 0.75);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.opening-hours {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: "Koulen", cursive;
}

.opening-hours h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Allura;
  color: #ffffff;
  background-color: #203a62;
  height: 100px;
}

.opening-hours li {
  font-size: 1rem;
  line-height: 40px;
  text-align: end;
  width: auto;
  list-style-type: none;
}

.opening-hours .opening-hours_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opening-hours-text li .bold-font {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  margin-top: auto;
  font-size: 0.75rem;
  font-family: "Koulen", cursive;
}

footer h4 {
  color: #203a62;
}

.address,
.getinTouch {
  max-width: 30%;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .face-img {
    display: none;
  }
  .title-section {
    font-size: 1.75rem;
  }
  .title-section .primary-btn {
    font-size: 0.75rem;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .open-hours {
    display: block;
  }
  .opening-hours li {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger {
    cursor: pointer;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: #203a62;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(800px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}
/*# sourceMappingURL=styles.css.map */