@font-face {
  font-family: Allura;
  src: url(/assets/fonts/Allura-Regular/Allura-Regular.ttf);
}

.flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html {
  padding: 0;
}

.primary-font {
  color: #203a62;
  font-family: Allura;
}

body {
  margin: auto;
  margin-left: 25%;
  margin-right: 25%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
}

header nav {
  padding: 10px;
}

header a {
  display: inline-block;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 1rem;
  color: #203a62;
}

header a:hover {
  color: inherit;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

header li {
  display: inline-block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin-left: 30px;
  margin: right 20px;
}

header li:hover {
  background-color: #203a62;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header li:hover a {
  color: #ffffff;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  height: 70vh;
  padding-top: 180px;
}

.intro-text {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  border-bottom: 10px solid #203a62;
  border-left: 10px solid #203a62;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 15px 60px;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
}

/* CTA button */
.primary-btn {
  background-color: #203a62;
  border-radius: 8px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: color 100ms;
  transition: color 100ms;
  vertical-align: baseline;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.primary-btn:hover, .primary-btn:focus {
  background-color: rgba(32, 58, 98, 0.75);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.offer-section {
  display: block;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offer-section .eyebrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offer-section .eyebrows img {
  width: 150px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-text {
  display: block;
  text-align: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
  font-size: 0.75rem;
}

footer h4 {
  color: #203a62;
}

.address, .getinTouch {
  max-width: 30%;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .face-img {
    display: none;
  }
  .title-section {
    font-size: 1.75rem;
  }
  .title-section .primary-btn {
    font-size: 0.75rem;
  }
  .about-section {
    display: block;
  }
  .about-img {
    text-align: center;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  header {
    text-align: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger {
    cursor: pointer;
  }
  .line {
    width: 30px;
    height: 3px;
    background-color: #203a62;
    margin: 5px;
  }
  nav {
    position: relative;
  }
  .nav-links {
    position: fixed;
    height: 100vh;
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(800px at 90% -10%);
    -webkit-transition: all 1s ease-out;
    transition: all 1s ease-out;
  }
}

@media screen and (max-width: 1800px) {
  body {
    margin-left: 0%;
    margin-right: 0%;
  }
}
/*# sourceMappingURL=styles.css.map */