@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: Allura;
  src: url(/assets/fonts/Allura-Regular/Allura-Regular.ttf);
}

html {
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.primary-font {
  color: #203a62;
  font-family: Allura;
}

body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: transparent;
  font-family: "Koulen", cursive;
}

header nav {
  padding: 10px;
}

header li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  font-size: 1rem;
  line-height: 100%;
  color: #203a62;
}

header a:hover {
  color: inherit;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0%;
  padding: 0%;
}

header li {
  display: inline-block;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  text-align: center;
  margin-left: 30px;
  margin-right: 20px;
  border-radius: 10px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

header li:hover {
  background-color: #1f3b62;
}

header li:hover a {
  color: #ffffff;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
  padding-top: 180px;
}

.intro-text {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 300px;
  padding: 40px;
  font-size: 2rem;
  text-align: center;
}

.intro-text h1 {
  font-family: Allura;
  font-weight: 600;
  color: #203a62;
}

.intro-text p {
  font-size: 1rem;
  color: #424549;
  text-align: center;
  font-family: "Koulen", cursive;
}

/* CTA button */
.primary-btn {
  display: block;
  font-family: "Koulen", cursive;
  background-color: #203a62;
  border-radius: 10px;
  border-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  margin: 0 auto;
  outline: none;
  padding: 10px 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.primary-btn:hover {
  background-color: rgba(32, 58, 98, 0.75);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.procedures-section {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 200px;
  font-family: "Koulen", cursive;
}

.procedures-section .procedures-section_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Allura;
  color: #1f3b62;
}

.procedures-section li {
  font-size: 1rem;
  line-height: 40px;
  text-align: center;
  list-style-type: none;
}

.procedures-section .procedures-section_body {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.procedures-section .procedures-section_body .procedures-section_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.procedures-section .procedures-section_body .procedures-section_text h3 {
  text-align: center;
}

.procedures-section .procedures-section_body .procedures-section_text li {
  line-height: normal;
  text-align: center;
}

.procedures-section .procedures-section_body .procedures-section_text ul {
  margin: 0;
  padding: 0;
}

.gridbox {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gridbox h3 {
  -ms-grid-column-align: center;
      justify-self: center;
}

.gridbox .flexbox {
  display: block;
}

.profileImg {
  border-radius: 50px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 100%;
  font-size: 0.75rem;
  font-family: "Koulen", cursive;
}

footer h4 {
  color: #203a62;
}

.no-margin {
  margin: 0;
}

@media screen and (max-width: 850px) {
  .face-img {
    display: none;
  }
  .title-section {
    font-size: 1.75rem;
  }
  .primary-btn {
    font-size: 1rem;
  }
  footer {
    display: block;
    text-align: center;
  }
  .gridbox {
    display: block;
  }
  .gridbox li {
    text-align: center;
  }
  .procedures-section .procedures-section_body {
    display: block;
  }
  .procedures-section ul {
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */