@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: Allura;
  src: url(/assets/fonts/Allura-Regular/Allura-Regular.ttf);
}
$primary-color: #203a62;
$secondary-color: #1f3b62;
$bg-color: #c0d4ff;

$primary-font: "Koulen", cursive;

html {
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.primary-font {
  color: $primary-color;
  font-family: Allura;
}

body {
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;

  font-family: $primary-font;

  // navbar padding
  nav {
    padding: 10px;
  }

  li {
    align-items: center;
  }

  // links
  a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 100%;

    color: rgba($color: $primary-color, $alpha: 1);

    // onHover change text color to white
    &:hover {
      color: inherit;
    }
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  li {
    display: inline-block;
    max-width: min-content;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.4s ease;

    &:hover {
      background-color: rgba($color: $secondary-color, $alpha: 1);
    }
    &:hover a {
      color: #ffffff;
    }
  }
}

// Landing page
.intro-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 180px;
}

// Intro-section text
.intro-text {
  display: block;
  justify-content: center;
  max-width: 300px;

  padding: 40px;
  font-size: 2rem;
  text-align: center;

  h1 {
    font-family: Allura;
    font-weight: 600;
    color: $primary-color;
  }
  p {
    font-size: 1rem;
    color: #424549;
    text-align: center;
    font-family: $primary-font;
  }
}

/* CTA button */
.primary-btn {
  display: block;
  font-family: $primary-font;
  background-color: $primary-color;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  margin: 0 auto;
  outline: none;
  padding: 10px 16px;
  width: fit-content;

  // Remove underline
  text-decoration: none;

  transition: 0.4s ease;
  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.75);
    transform: translateY(-5px);
  }
}

.procedures-section {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 10rem;
  margin-bottom: 200px;
  font-family: $primary-font;
  .procedures-section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Allura;
    color: $secondary-color;
  }
  li {
    font-size: 1rem;
    line-height: 40px;
    text-align: center;
    list-style-type: none;
  }

  .procedures-section_body {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

    .procedures-section_text {
      display: flex;
      justify-content: center;
      h3 {
        text-align: center;
      }

      li {
        line-height: normal;
        text-align: center;
      }

      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.gridbox {
  display: grid;
  align-items: center;
  h3 {
    justify-self: center;
  }
  .flexbox {
    display: block;
  }
}

.profileImg {
  border-radius: 50px;
}

// Footer CSS
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  line-height: 100%;

  font-size: 0.75rem;
  font-family: $primary-font;
  h4 {
    color: $primary-color;
  }
}

.no-margin {
  margin: 0;
}

// mobile responsitivity
@media screen and (max-width: 850px) {
  .face-img {
    display: none;
  }
  .title-section {
    font-size: 1.75rem;
  }
  .primary-btn {
    font-size: 1rem;
  }

  footer {
    display: block;
    text-align: center;
  }

  .gridbox {
    display: block;
    li {
      text-align: center;
    }
  }

  .procedures-section {
    .procedures-section_body {
      display: block;
    }
    ul {
      padding: 0;
    }
  }
}

// // Hamburger code
// @media screen and (max-width: 768px) {
//   header {
//     text-align: center;
//     justify-content: space-between;
//   }

//   .hamburger {
//     cursor: pointer;
//   }

//   .line {
//     width: 30px;
//     height: 3px;
//     background-color: #203a62;
//     margin: 5px;
//   }

//   nav {
//     position: relative;
//   }

//   .nav-links {
//     position: fixed;
//     height: 100vh;
//     width: 50%;
//     flex-direction: column;
//     clip-path: circle(100px at 90% -10%);
//     -webkit-clip-path: circle(800px at 90% -10%);
//     transition: all 1s ease-out;
//   }
// }
