@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");
@font-face {
  font-family: Allura;
  src: url(/assets/fonts/Allura-Regular/Allura-Regular.ttf);
}
$primary-color: #203a62;
$secondary-color: #1f3b62;
$bg-color: #c0d4ff;

$primary-font: "Koulen", cursive;

html {
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.primary-font {
  color: $primary-color;
  font-family: Allura;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 100px;

  font-family: $primary-font;

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    a {
      padding: 0;
      padding-left: 10px;
    }
  }

  // navbar padding
  nav {
    padding: 10px;
    justify-content: center;
    align-items: center;
  }

  li {
    align-items: center;
  }

  // links
  a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 1rem;
    line-height: 100%;

    color: rgba($color: $primary-color, $alpha: 1);

    // onHover change text color to white
    &:hover {
      color: inherit;
    }
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    margin: 0%;
    padding: 0%;
  }
  li {
    display: inline-block;
    max-width: min-content;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 10px;
    transition: 0.4s ease;

    &:hover {
      background-color: rgba($color: $secondary-color, $alpha: 1);
    }
    &:hover a {
      color: #ffffff;
    }
  }
}

// Social Icons
.socials {
  position: absolute;
  right: 0;
  margin-right: 50px;
  a {
    transition: 0.4s;
    padding: 0;
    padding-left: 5px;
    img {
      height: 30px;
    }
    &:hover {
      transform: translateY(-5px);
    }
  }
}

// Landing page
#intro-section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 80px;
}

// Intro-section text
.intro-text {
  display: block;
  justify-content: center;
  max-width: 400px;
  margin-left: 100px;
  padding-top: 50px;

  font-size: 3rem;
  text-align: center;

  h1 {
    font-family: Allura;
    font-weight: 600;
    color: $primary-color;
    margin: 0;
  }
  p {
    font-size: 1.25rem;
    color: #424549;
    text-align: center;
    font-family: $primary-font;
  }
}

/* CTA button */
.primary-btn {
  display: block;
  font-family: $primary-font;
  background-color: $primary-color;
  border-radius: 10px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 1rem;
  margin: 0 auto;
  outline: none;
  padding: 10px 16px;
  width: fit-content;

  // Remove underline
  text-decoration: none;

  transition: 0.4s ease;
  &:hover {
    background-color: rgba($color: $primary-color, $alpha: 0.75);
    transform: translateY(-5px);
  }
}

#procedures-section {
  display: block;
  text-align: center;
  font-size: 2rem;
  margin-top: 15vh;
  font-family: $primary-font;
  .procedures-section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Allura;
    color: $secondary-color;
  }
  li {
    font-size: 1rem;
    line-height: 40px;
    text-align: center;
    list-style-type: none;
  }

  .procedures-section_body {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    align-items: center;

    .procedures-section_text {
      display: flex;
      justify-content: center;
      h3 {
        text-align: center;
      }

      li {
        line-height: normal;
        text-align: center;
      }

      ul {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.gridbox {
  display: grid;
  align-items: center;
  h3 {
    justify-self: center;
  }
  .flexbox {
    display: block;
  }
}

.profileImg {
  border-radius: 50px;
}

// Footer CSS
footer {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  align-items: flex-start;
  margin-top: 100px;

  line-height: 150%;

  font-size: 0.75rem;
  font-family: $primary-font;
  font-weight: 50;

  background-color: $primary-color;
  color: #ffffff;
  h4 {
    color: #ffffff;
    font-weight: 200;
    font-size: 1.75em;
    font-family: Allura;
    line-height: 200%;
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }
}

.no-margin {
  margin: 0;
}

// mobile responsitivity
@media screen and (max-width: 1000px) {
  header {
    display: block;
    height: auto;
    .logo {
      position: static;
      text-align: center;
    }
    .nav-links {
      justify-content: center;
    }
  }
  .intro-section {
    padding-top: 0;
  }
  .socials {
    margin-top: -100px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .face-img {
    display: none;
  }

  .socials {
    margin-top: -120px;
    margin-right: 10px;
  }

  .intro-section {
    margin-top: 100px;
  }

  .intro-text {
    margin-left: 0;
    padding-top: 0;
  }

  .title-section {
    font-size: 1.75rem;
  }
  .primary-btn {
    font-size: 1rem;
  }

  footer {
    display: block;
    text-align: center;
    .getInTouch {
      margin-bottom: 20px;
    }
  }

  .gridbox {
    display: block;
    li {
      text-align: center;
    }
  }

  .procedures-section {
    .procedures-section_body {
      display: block;
    }
    ul {
      padding: 0;
    }
  }

  header {
    text-align: center;
    justify-content: space-between;
  }
}
