$primary-btn: #ffffff;

body {
  margin: auto;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 3px 5px rgba($color: #203a62, $alpha: 1);
  width: 100%;
  nav {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    font-size: 1.5rem;
  }
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
  li {
    display: inline-block;
    padding-left: 20px;
    max-width: min-content;
    text-align: center;
  }
}
